.form {
  background-color: var(--primary-element-color-grey);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 60%;
  overflow: hidden;
}

.formLabel {
  color: var(--base-color-brand--gold);
  font-size: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  text-align: left;
}

.formTitle {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--base-color-brand--gold);
}

.formInputs {
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  margin-bottom: 0.5rem;
}

.formDivs {
  display: flex;
  flex-direction: column;
}

.formCheckboxesDiv {
  padding-top: 0.6rem;
}

.formRadioOptionsDiv,
.formCheckboxesDiv {
  align-self: flex-start;
  display: flex;
}

.formCheckboxesLabel,
.formRadioOptionLabel {
  font-size: 1.4rem;
  padding-left: 0.3rem;
  padding-bottom: 0;
  color: var(--primary-text-color);
}

.formCheckboxesDiv > input,
.formRadioOptionsDiv > input {
  margin: 0;
}

.formRadioLabel {
  padding-bottom: 0;
  align-self: flex-start;
}

.submitButton {
  align-self: center;
  margin-top: 2rem;
}

.invalidInput {
  border: crimson 2px solid;
  background-color: rgb(250, 185, 177);
}

.invalidField {
  color: crimson;
}

.aligningRadioDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  z-index: 10;
}

.radio:checked {
  background-color: #0075ff;
  border: white solid 2px;
}

.invalidRadio {
  border-color: crimson;
  background-color: pink;
}

.radioLabel {
  cursor: pointer;
}

@media (width < 835px) {
  .form {
    align-self: center;
    width: 100%;
    max-width: 40rem;
    min-width: none;
  }
}

@media (width < 470px) {
  .formTitle {
    font-size: 2rem;
  }
  .formLabel {
    font-size: 1.5rem;
  }
  .formInputs {
    font-size: 1.2rem;
  }
  .formRadioOptionLabel {
    font-size: 1rem;
  }
  .radio {
    width: 12px;
    height: 12px;
  }
}

@media (width < 350px) {
  .formLabel {
    font-size: 1.2rem;
  }
  .formInputs {
    font-size: 1rem;
  }
  .formRadioOptionLabel {
    font-size: 0.8rem;
  }
  .submitButton {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
}
