.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: var(--primary-element-color-grey);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  min-width: 20rem;
  /*   display: flex;
  flex-direction: column; */
}

.modalHeader {
  color: var(--base-color-brand--gold);
  padding-bottom: 1rem;
  text-align: center;
}

.addButton {
  background-color: var(--base-color-brand--gold);
  color: var(--secondary-text-color);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.833rem;
}

.addButton:hover {
  background: #be831c;
}

.closeButton {
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
}

.radioLabels {
  color: white;
}

.radioQuestion {
  text-align: left;
}

.radioNumbers {
  padding: 1rem 0 0.5rem 0;

  text-align: left;
}
