.questionnaireWrappingDiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
  animation: fadeIn 2s;
}

.questionnairForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-text-color);
  min-width: 30%;
  gap: 1rem;
}

.formHeaderLabel {
  align-self: flex-start;
  color: var(--primary-text-color);
  padding-bottom: 0.5rem;
  font-size: 1.75rem;
}

.titleInput {
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  margin-bottom: 0.5rem;
  width: calc(100% - 1.8rem);
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.8rem 0;
  width: 100%;
}

.radioInnerDiv {
  display: flex;
  /* gap: 1rem; */
  width: 100%;
}

.textInputRadioButtons {
  padding: 0.2rem 2.5rem 0.2rem 0.2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}

.addInput {
  border: none;
  background: transparent;
  color: var(--base-color-brand--gold);
  align-self: flex-start;
  font-size: 1.2rem;
}

.addInput:hover {
  color: #8d6217;
  cursor: pointer;
}

.saveFormButton {
  align-self: center;
  margin-right: 0.5rem;
}

.clearFormButton {
  margin-left: 0.5rem;
  background-color: darkred;
  color: white;
}

.clearFormButton:hover {
  background-color: rgb(161, 16, 45);
}

.removed {
  display: none;
}

.moveButtonUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--base-color-brand--gold);
  margin-bottom: 0.4rem;
}

.moveButtonUp:hover {
  border-bottom: 10px solid var(--base-color-brand--gold-hover);
}

.moveButtonDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--base-color-brand--gold);
  margin-top: 0.4rem;
}

.moveButtonDown:hover {
  border-top: 10px solid var(--base-color-brand--gold-hover);
}

.inputWrapper {
  display: flex;
  width: calc(100% - 1.8rem);
}

.moveButtons {
  align-self: flex-start;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
}

.deleteX {
  align-self: flex-start;
  font-size: larger;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.trashcan:hover {
  cursor: pointer;
}

.questionnaireTitle {
  display: flex;
  flex-direction: column;
  margin-left: 1.9rem;
}

.valdationCheck {
  align-self: flex-start;
  display: flex;
  gap: 0.2rem;
  padding-top: 0.3rem;
}

.addInputAndValidation {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.radioQuestionWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.deleteOption,
.addOptionButton {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: -2.4rem;
  display: flex;
  align-items: center;
}

.setMargin {
  margin-left: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 0%;
  }

  100% {
    opacity: 1000%;
  }
}

@media (width < 835px) {
  .questionnaireWrappingDiv {
    flex-direction: column;
    gap: 3rem;
  }
  .questionnairForm {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .questionnaireTitle {
    padding-left: 2rem;
    width: 100%;
  }
}

.validationCheck {
  accent-color: var(--base-color-brand--gold);
}

@media (width < 513px) {
  .addInputAndValidation {
    width: 100%;
  }
  .ButtonWrapperQuestionnaire {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (width < 470px) {
  .formHeaderLabel {
    font-size: 1.5rem;
  }
  .titleInput {
    font-size: 1.2rem;
  }
  .textInputRadioButtons {
    font-size: 1.2rem;
    padding-right: 2rem;
  }

  .addPlus,
  .optionsTrashcan {
    height: 1.3rem;
  }

  .addOptionButton,
  .deleteOption {
    margin-left: -2.1rem;
  }
}
